.header-flex-img{
    height: 70px;
    width: 270px;
    background-color: #f0f9ff;
}

.ant-layout-header {
    background-color: #f0f9ff;
}

.cv-img{
    height: 27px;
    width: 27px;
    margin-top: 20px;
}

.decoration-none:hover{
    text-decoration: none;
}

.menu-titles{
    color: black;

}

.ant-menu-title-content{
    font-size: 1.3em;
}

.header-menu{
    width: 100%;
    min-width: 0;
    flex: 1;
    justify-content: flex-end;
    background-color: #f0f9ff;
}

.header-row{
    width: 100%;
}

.test{
    display: flex; 
    justify-content: center;
    align-items: center;
}

.header-menu-1000{
    display: none;
}

.desktop{
    display: block;
}
.mobile{
    display: none;
}


@media (max-width: 1000px) {
    .header-menu-1000{
        display: flex;
        min-width: 0;
        width: 100%;
        flex: 1;
        justify-content: flex-end;
        background-color: #f0f9ff;
    }
    .header-menu{
        display: none;
    }

    .desktop{
        display: none;
    }
    .mobile{
        display: block;
    }
    

    .header-flex-img-mobile{

        height: 70px;
        width: 110px;
    }
    .ant-menu-title-content{
        font-size: 1.2em;
    }
}
