html, 
body {
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden; 
    background-color: #f0f9ff;
}

body {
  visibility: hidden;
}
body.styles-loaded {
  visibility: visible;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.breads{
  margin: 1em 1em 1em 0;
}

.ant-timeline .ant-timeline-item-head-custom {
  background-color: #f0f9ff;
}

.pages-timeline{
  margin-top: 30px;
}

.pages-line-text{
  color: black;
  font-weight: bold;
}


@media (max-width: 1000px) {
  .display-none{
      display: none;
  }
}
