html, 
body {
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden; 
    background-color: #f0f9ff;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.pages-breads{
  margin: 1em 1em 1em 0;
}

.pages-timeline{
  margin-top: 50px;
  width: 270px;
  position: sticky;
  top: 120px;
}

@media (max-width: 800px) {
  .display-none{
      display: none;
  }
}