.layout-header{
    height: 80px;
    top: 0;
    padding-left: 17px;
    padding-right: 17px;
}

.layout-content{
    background-color: #f0f9ff;
}

.layout-footer{
    text-align: center;
    margin-top: 20px;
    background-color: black;
}

.flex-content{
    max-width: 1000px;
    width: 100%;
    padding: auto;
}

.main-content{
    padding-left: 17px;
    padding-right: 17px;
}
